/* The custom loader animation to be displayed till the report is embedded */
.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

.container {
  display: flex;
  height: auto;
  padding: 0;
  width: 100%;
}

#overlay {
  height: inherit;
  position: fixed;
  width: inherit;
}

#overlay #spinner {
  left: 50%;
  position: fixed;
  top: 50%;
}

.content {
  background: #faf9f8;
  display: none;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}
